.top-links {
  text-align: center;
  padding: 16px 0;

  a {
    text-decoration: none;
    color: #0099ff;
    margin-left: 32px;

    &.active {
      color: black;
      cursor: default;
    }
  }
}

.c-dashboard {
  margin: 8px 16px;

  .c-dashboard__header {
    display: flex;
    justify-content: center;
  }

  .c-dashboard__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-filters__container {
  margin: 0 0 8px;
  padding: 16px 8px;
  border: 1px solid #dcdee3;
  background-color: #e5e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  .c-filter{
    margin: 0 15px;;
  }
}

.c-chart__container {
  height: 350px;
  width: 760px;
  .c-empty_data{
    text-align: center;
  }
  .c-tooltip {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #223048;
    border-radius: 2px;
    .c-title {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
    .c-data {
      font-size: 14px;
      color: #fff;
    }
  }

}

.c-button {
  height: 40px;
  background-color: #0099ff;
  color: white;
  min-width: 120px;
  padding: 0 16px;
  border-radius: 4px;
}

.c-button[disabled]{
  background-color: #ccc;
  color: #000;
}


.c-error__container{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  .c-error-text{
    font-size: 55px;
    font-weight: bold;
  }
}

